{% extends "my_qrcode/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block bcss %}inside{% endblock %}

{% block nav %}
    <li><a href="{% url 'my_qrcode:profile' %}">Profile</a></li>
    <li><a href="{% url 'my_qrcode:logout' %}">Log Out</a></li>
{% endblock %}

{% block content %}
<div>
	<h3>Are you sure you want to delete "{{ item.name }}"?</h3>
	<form action="{% url 'my_qrcode:item_delete' item.item_id %}" method="post">
	   {% csrf_token %}
        <button type="submit" value="Delete">Delete Item</button>
	</form>
</div>
{% endblock %}
