{% extends "my_qrcode/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block bcss %}inside{% endblock %}

{% block nav %}
    <li><a href="{% url 'my_qrcode:profile' %}">Profile</a></li>
    <li><a href="{% url 'my_qrcode:logout' %}">Log Out</a></li>
{% endblock %}

{% block content %}
    <h3><em>{{ user.username }}'s</em> things.</h3>

    <a href="{% url 'my_qrcode:item_add' %}"><button id="add_item">Add Item</button></a>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Item Name</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr class="{% if item.status == 'L' %}lost{% endif %} {% if item.is_public %}public{% endif %}">
            <td class="menued"><a href="{% url 'my_qrcode:item_edit' item.item_id %}">
                <button name="edit_item_id"></button>
            </a></td>            
            <td col width="0" class="menued"><a href="{% url 'my_qrcode:item_delete' item.item_id %}">
                <button name="del_item_id"></button>
            </a></td>
            <td class="menued">{{ item.name }}</td>
            <td class="menued"><a href="{% url 'my_qrcode:generate' item.item_id %}">Generate QR Code</a></td>
            <!-- <td class="menued"><button name="report_item_id">Report Lost</button></td> -->
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}