{% extends "my_qrcode/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block nav %}
{{ request.user.username }}, <a href="{% url 'my_qrcode:item_add' %}">Add New Item</a> | <a href="{% url 'my_qrcode:logout' %}">Log Out</a>
{% endblock %}

{% block content %}
<div>
  <p>Welcome to your profile {{ user.username }}</p>

  <ul>
  	{% for item in items %}
  	<li>{{ item.name }} - <a href="{% url 'my_qrcode:item_edit' item.item_id %}">Edit</a> | <a href="{% url 'my_qrcode:generate' item.item_id %}">Generate Qr </a> | <a href="{% url 'my_qrcode:item_delete' item.item_id %}">Delete</a>{% if item.status == 'L' %} <b>Lost</b>{% endif %}</li>
  	{% endfor %}
  </ul>
</div>
{% endblock %}
