{% extends "my_qrcode/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block bcss %}inside{% endblock %}

{% block content %}
<div>
    <h3>Profile of user: {{ user.username }}</h3>
    <table>
        <tr>
            <th>Item Name</th>
        </tr>
        {% for item in items %}
            {% if item.is_public %}
            <tr>
                <td class="menued {% if item.status == 'L' %}lost{% endif %}">{{ item.name }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

</div>
{% endblock %}
