{% extends "my_qrcode/base.html" %}

{% block bcss %}register{% endblock %}

{% block nav %}
    <li><a href="{% url 'my_qrcode:login' %}">Login</a></li>
{% endblock %}

{% block promo %}
    <h2>Do you <span>lose</span> your things? Fret not, we <span>find</span> your things! You're welcome.</h2>
{% endblock %}

{% block content %}
    <form action="/register/" method="post" id="login_form" class="">
        {% csrf_token %}
        
        {% if next %}
            {% if user.is_authenticated %}
                <p class="error">Your account doesn't have access to this page.</p>
            {% else %}
                <p class="error">Please login to see this page.</p>
            {% endif %}
        {% endif %}
        
        {{ form.as_p }}
        <button type="submit" name="login_button">Register</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
