<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <title>qFinder</title>
    </head>

    <body>
    	<div>
    		{% block nav %}
    		<!-- Allow the header to be replacable -->
    		{% if request.user.is_authenticated %}
    		{{ requser.user.username }}, <a href="{% url 'qrcode:logout' %}">Log Out</a>
    		{% else %}
    		<a href="{% url 'qrcode:login' %}">Login</a> | <a href="{% url 'qrcode:register' %}">Register</a>
    		{% endif %}
    		{% endblock %}
    	</div>
        {% block content %}{% endblock %}
    </body>
</html>